# Diretórios de Dependências e Build
node_modules
dist
build
temp
tmp

# Segredos e Configurações
.env
.venv
turilha-firebase-adminsdk.json # Adicionado para segurança
*.pem

# Ferramentas e IDEs
.git
.gitignore
.dockerignore
.vscode
.idea

# Logs e Dados
*.log
npm-debug.log
.eslintcache