version: '3.8' # Boa prática definir a versão, embora opcional em versões recentes

services:
  postgresql:
    image: bitnami/postgresql:latest
    container_name: postgresql_turilha
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/bitnami/postgresql
    restart: unless-stopped

volumes:
  pgdata: